<html ng-app="scanMap">
<head>
    <title>ScanMap | Exploit scans around the world</title>

    <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/img/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/img/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/img/manifest.json">
    <link rel="mask-icon" href="/img/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/img/favicon.ico">
    <meta name="msapplication-config" content="/img/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <!-- JQuery -->
    <script type="application/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>

    <!-- Bootstrap -->
    <link type="text/css" rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <script type="application/javascript" src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Angular JS -->
    <script src='bower_components/lodash/lodash.js'></script>
    <script type="application/javascript" src="bower_components/angular/angular.min.js"></script>

    <!-- Angular Google Maps -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAenqffPe1aq6RCCcVPkmR4UTJH3GqT9Ls"></script>
    <script src='bower_components/angular-simple-logger/dist/angular-simple-logger.js'></script>
    <script src='bower_components/angular-google-maps/dist/angular-google-maps.js'></script>

    <!-- Own libs -->
    <script type="application/javascript" src="lib/fj.js"></script>
    <script type="application/javascript" src="lib/http.js"></script>


    <!-- ScanMap files -->
    <link type="text/css" rel="stylesheet" href="style.css">
    <script type="application/javascript" src="app.js"></script>
</head>
<body ng-controller="SpyMapController" class="ng-scope">
        <ui-gmap-google-map center='map.center' zoom='map.zoom' ng-if="ready && loaded">
            <ui-gmap-marker ng-repeat="violator in violators"
                            idKey='violator.ip'
                            coords='{ latitude: violator.latitude, longitude: violator.longitude }'
                            click='openModal(violator)'
                            options="violator.options">

            </ui-gmap-marker>

            <ui-gmap-window
                    ng-repeat="violator in violators"
                    coords='{ latitude: violator.latitude, longitude: violator.longitude }'
                    closeClick="closeModal(violator)"
                    show="isModalOpen(violator)">
                <div class="spy-modal">
                    <label>Country</label>
                    <span>{{violator.country}} ({{violator.countryCode}})</span>
                    <br/>

                    <label>IP Address</label>
                    <span >{{violator.ip}}</span>
                    <br/>
                    <br/>

                    <label>Violations</label>
                    <span >{{violator.violations.length}}</span>
                    <span style="white-space: pre-line;">
                        {{ violator.scans }}
                    </span>
                </div>
            </ui-gmap-window>

        </ui-gmap-google-map>

    <div class="overlay-panel">
        Spy Map Alpha
    </div>
</body>
</html>