.angular-google-map-container {
    height: 100vh;
    position: absolute;
    top:0;
    bottom:0;
    right:0;
    left:0;
}

.overlay-panel {
    position: absolute;
    right: 0;
    background: #59dcb3;
}

.spy-modal {

}

.spy-modal label {
    width: 100px;
}