# /etc/sysconfig/docker
#  
#  {{ ansible_managed }} 
#
# Other arguments to pass to the docker daemon process
# These will be parsed by the sysv initscript and appended
# to the arguments list passed to docker -d
#

DOCKER_OPTS=" -D DOCKER_TMPDIR=/tmp/docker"