server {
    listen       80;
    server_name  www.spymap.info spymap.info;

    location / {
        auth_basic              "Please enter your credentials.";
        auth_basic_user_file    "{{ HTPASSWD_PATH }}";
        proxy_set_header        X-Real-IP       $remote_addr;
        proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_pass              http://localhost:8080/;
    }
}

server {
    listen       80;
    server_name  search.spymap.info;

    location / {
        auth_basic              "Please enter your credentials.";
        auth_basic_user_file    "{{ HTPASSWD_PATH }}";
        proxy_pass              http://localhost:9200/;
    }
}